/.vscode
/__pycache__
/build
/public
/dist
/input
/logs
/models
/models_old
/ocr
/ocr.c
/ocr.pyx
/ocr.spec
/output
/venv
test.py
server1.py
server2.py
server_mem_prof.py
/tesseract
/dataset
/test_data
/logs
imgs.zip
img_ds2.zip
img_ds1.zip
