/.vscode
**/__pycache__
/trash
/build
/public
/dist
/input
/logs
/models
/models_old
/ocr
/ocr.c
/ocr.pyx
/ocr.spec
/output
/.venv
/data
test.py
server1.py
server2.py
server_mem_prof.py
/tesseract
/dataset
/test_data
/logs
imgs.zip
img_ds2.zip
img_ds1.zip
logs.txt
0abe7194-16a0-44bb-a0a4-36c976830035.zip
08a45512-3a1f-46e1-a038-3a4846fccb7c.zip
