Cython
numpy==1.17.3
opencv-python
Pillow
scikit-learn==0.22.2.post1
scikit-image
sklearn
pytesseract
loguru
PyMuPDF
pyyaml
# pyinstaller
# pysqlite3
gdown
aiofiles
fastapi
requests
python-multipart
# pybind11
# fastwer
# uvicorn